@media screen and (max-width: 1400px){

/*Page Layout*/

  .page{
    flex-direction: column;
    text-align: center;
    margin: 1em!important;
  }

  .rightside{
    border: 0px solid black!important;
    margin: 1em!important;
    padding: 0em!important;
  }

  .leftside{
    flex: 100%!important;
    padding: 0em!important;
    margin: 1em!important;
  }

  ul li{
    list-style: none!important;
  }

  ul{
    padding: 0em!important;
  }

  #logorule{
    margin-left: 2.5em;
  }

  #logomainruleslayout{
    flex-direction: column;
  }
  #centerlogoheading{
    margin:0em 0em 1em 0em!important;
}

  .logowrap{
    flex-direction: column;
    margin-right: 0px!important;
  }

  .spacinglogo{
    margin-bottom: 2em;
    margin-right: 0em!important;
  }

  .colorrow{
    flex-direction: column;
  }

  .colorvariation{
    margin: 0em!important;
  }

  .tuna , .salmon, .tamago, .seaweed, .white{
    margin: 0em auto 1em auto!important;
  }

  #buttons{
    width: 80%!important;
  }

  .icon{
    width: 12vw!important;
    margin: 0em!important;
  }

  .iconwrap{
    margin-right: auto!important;
    margin-left: auto!important
  }

  .spacingicon{
    margin-bottom: 2em;
    margin-right: 0em!important;
    margin-right: auto!important;
    margin-left: auto!important
  }

  .iconwrap{
    margin-left: auto!important;
    margin-right: auto!important;
  }

  ul > li{
    margin-top: 2em!important;
  }

}

body{
  margin: 0px;
  background-color: #EEEEEE;
}

/*Heading*/
h1, h2, h3, h4, h5, h6, .bodytext{
  margin: 0px;
}

h1{
 font-size: 2.5em;
 font-family: 'Montserrat', sans-serif;
 color: #23423f;
 line-height: 1.4em;
}

h1 + .subheading{
  font-size: 2em;
  margin-bottom: 1em;
}

h2{
  font-size: 2em;
  color: #23423f;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
}

h2 + .subheading{
  font-size: 1.6em;
  margin-bottom: 1em;
}

h3{
  font-size: 1.625em;
  color: #23423f;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
}

h3 + .subheading{
  font-size: 1.425em;
  margin-bottom: 1em;
}

h4{
  font-size: 1.375em;
  color: #23423f;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25em;
}

h4 + .subheading{
  font-size: 1.2em;
  margin-bottom: 1em;
}

h5{
  font-size: 1.125em;
  color: #23423f;
  font-family: 'Montserrat', sans-serif;
  line-height: 1em;
}

h5 + .subheading{
  font-size: 1em;
  margin-bottom: 1em;
}

h6{
  font-size: 1em;
  color: #23423f;
  font-family: 'Montserrat', sans-serif;
  line-height: .9em;
}

h6 + .subheading{
  font-size: .9em;
  margin-bottom: 1em;
}

.bodytext + .subheading{
  font-size: .9em;
  margin-bottom: 1em;
}

/*Fonts*/

.pageheading{
  font-size: 6em;
  padding-bottom: .3em;
  line-height: 1em;
  font-family: 'Montserrat';
  font-weight: bold;
}

.heading2{
  margin: 0px;
  font-size: 2.5em;
  font-weight: 700;
}

ul > li{
  font-size: 1.5em;
  font-family: 'Varela Round'
}

p{
  font-family: 'Varela Round';
  font-size: 1em;
}

p{
  line-height: 1.42em;
  color: #23423f;
}

.pageheading, .heading2, .titleheading{
  font-family: 'Montserrat';
  color: #23423f;
  margin: 0px;
}

.alphabet{
  font-size: 1.5em;
}

.subheading{
  font-size: 2em;
  margin: 0px;
  color: #AAAAAA;
}

#bodytext{
  font-family: 'Montserrat';
}
/*Nav Bar*/

nav{
  background-color: #FFFFFF;
  position:fixed;
  width:100%;
}
nav ul li{
  display: inline;
  margin: 0em 1em;
  font-size: 1em;
}

nav ul li a{
  text-decoration: none;
  color: #23423f;
  transition: all ease-in-out 100ms;
}

nav ul li a:hover{
  color: #EEEEEE;
}

nav ul{
  text-align: center;
}

/*Start Page*/

.startpage{
  text-align: center;
  animation-name: fadeInUp;
  animation-duration: 1s;
  font-family: 'Montserrat';
  margin-bottom: 20em;
}

#logostartpage{
  width: 25vw;
  margin-top: 15em;
  margin-bottom: 0px;
}

.titleheading{
  margin: 0px;
  line-height: 1.2em;
  font-size: 6em;
  font-weight: bold;
}

/* Page Layout*/

.page{
  margin: 10em;
  display: flex;
  padding-bottom: 10em
}

.opacityimage{
  opacity: 0.3;
  margin-top: 30px;
  width: 100%;
}

.leftside{
  height: 200px;
  padding-right: 3em;
  flex: 40%;
}

.rightside{
  padding-left: 4em;
  margin-right: 8em;
  border-left: 1px solid #000000;
  padding-left: 4em;
  flex: 80%;
}

.headingunderline{
  border: 3px solid #ef3939;
  border-radius: 10px;
  margin-bottom: 1em;
}
/*Logo Rules*/

#centerlogoheading{
  margin: auto 3em auto 0em;
}

#logomainruleslayout{
  display:flex;
}

.centervariation{
  margin-top: auto;
  margin-bottom: auto;
}

.logowrap{
  display: flex;
  flex-wrap: wrap;
  margin-right: 3em;
}

#logorule{
  width: 70%;
}

.logos{
  width: 150px;
  margin: auto 0em auto 0em;
  margin-bottom: 0px;
}

.logos + p{
  text-align: center;
}

.logoheading{
  margin-bottom: 1em;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Montserrat';
}

.spacinglogo{
  margin-right: 3em;
}

/*Imagery*/

.imagerywrap{
  flex-wrap: wrap;
}

.imagery{
  border-radius: 50px;
  margin: 3em 2em 2em 0em;
  width: 40%;
}

/*Color*/

#smallicons{
  display:flex;
}

#smallicons > .tuna{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

#smallicons > .white{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

#smallicons > .tuna{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

#smallicons > .salmon{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

#smallicons > .tamago{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

#smallicons > .seaweed{
  margin-top:1em;
  width: 40px;
  height: 40px;
}

.colorrow{
  margin: 1em 1em 1em 0em;
  display: flex;
}

.colorvariation{
  border-radius: 50px;
  width: 150px;
  height: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5em;
}

.tuna{
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  background-color: #ef3939;
  width: 110px;
  height: 110px;
}

.white{
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  background-color: #ffffff;
  width: 110px;
  height: 110px;
}

.tamago{
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  background-color: #ffe27a;
  width: 110px;
  height: 110px;
}

.salmon{
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  background-color: #ef6f2b;
  width: 110px;
  height: 110px;
}

.seaweed{
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  background-color: #23423f;
  width: 110px;
  height: 110px;
}
/*Iconography*/

.iconwrap{
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.spacingicon{
  margin-top: 5em;
  margin-right: 10em;
}

.icon{
  width: 4vw;
}

.icon + p{
  text-align: center;
}

/*Buttons*/
#buttons{
  width: 80%;
}

@charset "UTF-8";

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
